

.languaje {
    margin: 10px;
    text-align: center;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 20%;
}
.languaje i {
    margin-top: 20px;
    font-size: 70px;
}

.fa-react{
   color:  #5ed3f3;
}
.fa-js-square{
    color: #efd81d;
}
.fa-npm{
    color: #c64537;
}

.fa-laravel {
    color: #ee5013;
}

.languaje h6 {
    font-weight: 600;
    color:#ffffff;
}


